.login{
border: 2px solid black;
height: 300px;
width:250px;
justify-content: center;
padding: 20px;

}
.login img{
    height:150px;
    margin-left: 40px;
}
.login input {
    margin-top:20px ;

}
.emailtext{
    margin-left: 20px;
}
.loginbtn{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 10px;
}
p{
    margin-left:50px;
}
